.body {
    margin: 0px;
    background-color: aqua;
    background-image: url();
    background-size: cover;
}

.body2 {
    margin: 0px;
    background-image: url(../img/animals/GAQ-Digital-Marketing-201-1-1024x683.jpg);
    background-size: cover;
 
}


.container1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    'nav1 hd1 nav2'
    'mn1 mn1 mn1'

}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    color: hotpink;
}


.header1 {
    grid-area: hd1;
    font-size: x-large;
    text-align: center;
    padding: 40px 0;
    
}

.nav1 {
    grid-area: nav1;
    font-size: large;
    text-align: center;
    padding: 40px 0;
}

.nav2 {
    grid-area: nav2;
    font-size: large;
    text-align: center;
    padding: 40px 0;
    
}


img {
    width: 500px;
    height: 500px;
    align-items: center;
}
.main1 {
    grid-area: mn1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    line-height: 90vh;
    
    background-size: 100% 100%;
   
}

/* Ovanför är det landingsidan. nedanför är meny sidan */



.container3 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
    'hd1 hd1 hd1'
    'mn mn mn'
}


.länkar1 {
    color: black;
    text-decoration: none;
    
}

.länkar1:hover {
    color: hotpink;
}


.header3 {
    grid-area: hd1;
    font-size: x-large;
    text-align: center;
    padding: 40px 0;
    justify-content: space-around;
    display: flex;
}


.main3 {
    background: lightblue;
    height: 850px;
    margin-left: 40px;
    margin-right: 40px;
    grid-area: mn;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}

.article2 {
    height: 700px;
    width: 500px;
    border-radius: 30px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'ti'
    'me1'
    'me2'
    'me3'
    'me4'
   

}

.titel {
    grid-area: ti;
    padding-top: 50px;
    font-size: x-large;
    text-align: center;
}


.Meny1 {
    grid-area: me1;
    text-align: left;
    margin-left: 50px;
}

.Meny2 {
    grid-area: me2;
    text-align: left;
    margin-left: 50px;
}
.Meny3 {
    grid-area: me3;
    text-align: left;
    margin-left: 50px;
}
.Meny4 {
    grid-area: me4;
    text-align: left;
    margin-left: 50px;
}


/* ovanför är meny sidan och nedanför är om oss sidan. */





.container2 {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
    'hd1 hd1'
    'mn ar2';
}


.länkar1 {
    color: black;
    text-decoration: none;
    
}

.länkar1:hover {
    color: hotpink;
}


.reviews {
    grid-area: hd;
    text-align: center;
    padding-top: 70px;
    font-size: xx-large ;
}

.review1 {
    grid-area: rv1;
    font-size: large;
    text-align: center;
    margin: 30px;
}

.review2 {
    grid-area: rv2;
    font-size: large;
    text-align: center;
    margin: 30px;
}

.review3 {
    grid-area: rv3;
    font-size: large;
    text-align: center;
    margin: 30px;
}

.review4 {
    grid-area: rv4;
    font-size: large;
    text-align: center;
    margin: 30px;
}

.article1 {
    grid-area: ar2;
    background: rgb(0, 194, 255);
    width: 500px;
    height: 850px;
    margin-right: 30px;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    grid-template-areas: 
    'hd'
    'rv1'
    'rv2'
    'rv3'
    'rv4';
    

}

.header2 {
    grid-area: hd1;
    font-size: x-large;
    text-align: center;
    padding: 40px 0;
    justify-content: space-around;
    display: flex;
   
    
}

.main2 {
    background: rgb(0, 194, 255);
    grid-area: mn;
    width: 1300px;
    height: 850px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}

.card1 {
    background-image: url(../img/photoshop/Erik_photoshop.jpg);
    font-size: larger;
    text-align: center;
    background-size: cover;
    height: 350px;
    width: 350px;
    border-radius: 100px;
    background-color: aliceblue;
}

.card2 {
    background-image: url(../img/photoshop/lucaspanna.jpg);
    text-align: center;
    font-size: larger;
    background-size: cover;
    height: 350px;
    width: 350px;
    border-radius: 100px;
    background-color: aliceblue;
}

.card3 {
    background-image: url(../img/photoshop/arbetare3.jpg);
    text-align: center;
    font-size: larger;
    background-size: cover;
    height: 350px;
    width: 350px;
    border-radius: 100px;
    background-color: aliceblue;
}

.card4 {
    background-image: url(../img/photoshop/abborre.jpg);
    background-size: cover;
    text-align: center;
    font-size: larger;
    height: 350px;
    width: 350px;
    border-radius: 100px;
    background-color: aliceblue;
}

.card5 {
    background-image: url(../img/photoshop/gädda2.jpg);
    background-size: cover;
    text-align: center;
    font-size: larger;
    height: 350px;
    width: 350px;
    border-radius: 100px;
    background-color: aliceblue;
}

.card6 {
    background-image: url(../img/animals/J0k1DN1T_400x400.jpg);
    text-align: center;
    font-size: larger;
    height: 350px;
    width: 350px;
    border-radius: 100px;
    background-color: aliceblue;
}