.container1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
    'hd1 hd1 hd1'
    'mn ar2';
}


a {
    color: red;
    text-decoration: none;
    
}

a:hover {
    color: hotpink;
}


.header1 {
    grid-area: hd1;
    background: rgba(red, green, blue, 0);
    font-size: x-large;
    text-align: center;
    padding: 40px 0;
    justify-content: space-around;
    display: flex;
}