
body {
    background-image: url(../img/animals/meerkats-zoo-animals-zoological-garden-preview.jpeg);
    background-size: cover;
    
}



.container1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
    'hd1 hd1'
    'mn ar2';
}


a {
    color: red;
    text-decoration: none;
    
}

a:hover {
    color: hotpink;
}


.article2 {
    grid-area: ar2;
    background: aliceblue;
    width: 500px;
    height: 850px;
    margin-right: 30px;

}

.header1 {
    grid-area: hd1;
    background: rgba(red, green, blue, 0);
    font-size: x-large;
    text-align: center;
    padding: 40px 0;
    justify-content: space-around;
    display: flex;
   
    
}

.main1 {
    background: black;
    grid-area: mn;
    width: 1300px;
    height: 850px;
    margin-left: 30px;
    background: rgba(red, green, blue, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}

.article1 {
    height: 350px;
    width: 350px;
    background-color: aliceblue;
}